.bg_video{
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -1000;
	background: url(index_arquivos/Ocean\ Moon\ Glint\ and\ City\ Night\ Lights\ in\ 4K\ UHD\ \(1\).mp4) no-repeat;
	background-size: cover; 
}